<h1>Lista de productos</h1>
<h2 id="welcome"></h2>
<button type="button"><a href="http://localhost:8080/carts/652ec71d9979b1abeaab9b8d">Go to cart</a></button>
<h3>{{error}}</h3>
<div>
  <ol id="productsList">
  </ol>
  <div class="buttons">
    <button type="button" id="prevPage">Prev</button>
    <span id="actualPage"></span>
    <button type="button" id="nextPage">Next</button>
  </div>
</div>
<script src="/js/products.js"></script>