<h1>Register</h1>
<form id="registerForm">
  <input
    type="text"
    name="first_name"
    id="first_name"
    placeholder="First name"
  />
  <input type="text" name="last_name" id="last_name" placeholder="Last name" />
  <input type="number" name="age" id="age" placeholder="Age" min="0" max="99" />
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="submit" value="Register" />
</form>

<script src="/js/register.js"></script>